# Ignore python cache
*.pyc
__pycache__/ 
.env
mongo-init.js
dist/
build/
misc/.init.sh
.dbinit.sh

# node_modules
node_modules/
_deprecated/

# sensitive data
data/
test_field/
certbot/

# apps_script sensitive data
apps_script/.clasp.json
apps_script/MedDict_Config.ts