# mongodb 
MONGODB_USERNAME="your_mongodb_account"
MONGODB_PASSWORD="your_mongo_db_password"
MONGODB_HOSTNAME="mongodb"
MONGO_INITDB_ROOT_USERNAME="your_mongodb_root_username"
MONGO_INITDB_ROOT_PASSWORD="your_mongodb_root_password"
# production or development
PRODUCTION="development"
# api key for integration with GG Spreadsheet
API_KEY="your_secret_key"