:root {
  --background-color: #FFFFFF;
  --border-color: #343A40FF;
  --hover-border-color: #1E2125FF;
  --button-background: #2E5288FF;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1200px;
  background: url("/src/Assets/background\ \(original\).png") no-repeat center;
  background-size: cover;
}

.background-img {
  background-image: url('/src/Assets/background\ \(cropped\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.meddict-title {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: white;
  margin-bottom: 40px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.meddict-search {
  position: relative;
  opacity: 1;
  margin-bottom: 35px;
  text-align: center;
  display: flex;
}

.meddict-search input {
  width: 745px;
  height: 44px;
  padding-left: 47px;
  padding-right: 16px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  background: var(--background-color);
  border-radius: 22px;
  border-width: 1px;
  border-color: var(--border-color);
  outline: none;
}

.meddict-search input:hover {
  background: var(--background-color);
  border-color: var(--hover-border-color);
}

.meddict-search input:focus {
  background: var(--background-color);
  border-color: var(--border-color);
}

.meddict-search ::placeholder {
  color: #BCC1CAFF;
}

.meddict-search input:disabled {
  color: #BCC1CAFF;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.search-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  height: 27px;
  width: 29px;
}

.mic-icon,
.cam-icon {
  position: absolute;
  top: 8px;
  height: 34px;
  cursor: pointer;
}

.mic-icon {
  right: 72px;
  width: 34px;
}

.cam-icon {
  right: 20px;
  width: 40px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.search-button {
  position: relative;
  width: 112px;
  height: 49px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  background: var(--button-background);
  opacity: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 400px;
}

.search-button:hover {
  color: #2E5288FF;
  background-color: white;
  border: 1px solid #2E5288FF;
}

.search-button:disabled {
  opacity: 0.4;
}

