:root {
  --background-color: #FFFFFF;
  --border-color: #343A40FF;
  --hover-border-color: #1E2125FF;
  --button-background: #2E5288FF;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1200px;
  background: url("../Assets/background\ \(original\).png") no-repeat center;
  background-size: cover;
}

.background-img {
  background-image: url('../Assets/background\ \(original\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meddict-title {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 800px;
  height: 55px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  background: var(--background-color);
  border: none;
  border-color: var(--border-color);
  outline: none;
  box-shadow: 0 5px 15px dimgrey;
  transition: width 0.1s ease-in-out;
  margin-bottom: 10px;
}

.language-search {
  position: relative;
  width: 120px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  background: white;
  opacity: 1;
  border-right: 1px solid #BCC1CAFF;
  overflow: hidden;
  cursor: pointer;
}

.language-swap {
  font-family: Inter, sans-serif;
  color: #4d4f52;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 19px;
  text-align: center;
}

.meddict-search {
  position: relative;
  opacity: 1;
  margin-bottom: 35px;
  text-align: center;
  display: flex;
}

.meddict-search input {
  flex-grow: 1;
  padding: 0 10px;
  width: 400px;
  height: 55px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  background: var(--background-color);
  border: none;
  border-color: var(--border-color);
  outline: none;
  transition: width 0.1s ease-in-out;
}

.meddict-search input:hover {
  background: var(--background-color);
  border-color: var(--hover-border-color);
}

.meddict-search input:focus {
  background: var(--background-color);
  border-color: var(--border-color);
}

.meddict-search ::placeholder {
  color: #BCC1CAFF;
}

.meddict-search input:disabled {
  color: #BCC1CAFF;
}

.meddict-button {
  position: relative;
  width: 60px;
  height: 55px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  background: var(--button-background);
  opacity: 1;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.meddict-button:hover {
  color: var(--button-background);
  background: white;
  border-color: var(--button-background);
  filter: brightness(120%);
  border-left: 1px solid gray;
}

.meddict-button:disabled {
  opacity: 0.4;
}

.meddict-button:hover .icon {
  color: var(--button-background);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-style: none;
  box-shadow: 0 3px 3px gray;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
  font-size: 19px;
  overflow-y: auto;
  max-height: 350px;
}

.suggestion {
  cursor: pointer;
  text-align: left;
  padding: 10px 10px 10px 47px;
  transition: background-color 0.2s ease;
  overflow-y: auto;
}


.suggestions::-webkit-scrollbar-thumb {
  top: 100%;
  left: 0;
  right: 0;
  border-style: none;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
}

.suggestions::-webkit-scrollbar-track {
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  border-style: none;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
}

.suggestion:hover {
  background-color: #d3d3d3;
  transition: background-color 0.2s ease;
}

.suggestion.selected {
  background-color: #d3d3d3;
}

.result-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  background: #1C468EFF;
  border-radius: 20px;
  box-shadow: 0 8px 17px #171a1f, 0 0 2px #171a1f;
  border: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.result-container.show {
  opacity: 1;
}

.result-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.result-upper,
.result-lower {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
}

.sound-column {
  margin-right: 20px;
}

.result-card {
  flex: 1;
  max-width: 70%;
  border: none;
  color: white;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 60px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.result-card.show {
  opacity: 1;
  transform: translateY(0);
}


.result-right {
  flex: 1;
  overflow: hidden;
}

.result-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0 20px 20px 0;
}

.no-image-text{
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 60px;
}

.line {
  width: 70%;
  height: 1px;
  background-color: #D29211FF;
  margin: 10px auto;
}

.sound-button {
  margin-left: 80px;
  width: 50px;
  height: 50px;
  background-color: #D32727FF;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sound-icon {
  width: 80%;
  height: 60%;
  fill: #FFFFFF;
}

.sound-button:hover {
  background-color: #FF0000FF;
}

.sound-button:active {
  background-color: #990000FF;
}


@media (max-width: 768px) {
  .meddict-search {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
  }

  .meddict-search input {
    width: 100%;
    max-width: 430px;
  }

  .result-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .result-left,
  .result-right {
    width: 100%;
  }

  .result-image {
    border-radius: 0;
  }

  .result-card {
    max-width: 100%;
  }
}

@media (max-width: 618px) {
  .meddict-search {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
  }

  .meddict-search input {
    width: 100%;
    max-width: 400px;
  }

  .result-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .result-left,
  .result-right {
    width: 100%;
  }

  .result-image {
    border-radius: 0;
  }

  .result-card {
    max-width: 100%;
  }
}

@media (max-width: 588px) {
  .meddict-search {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .meddict-search input {
    width: 100%;
    max-width: 220px;
  }

  .result-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .result-left,
  .result-right {
    width: 100%;
  }

  .result-image {
    border-radius: 0;
  }

  .result-card {
    max-width: 100%;
  }
}

@media (max-width: 408px) {
  .meddict-search {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
  }

  .meddict-search input {
    width: 100%;
    max-width: 210px;
  }

  .result-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .result-left,
  .result-right {
    width: 100%;
  }

  .result-image {
    border-radius: 0;
  }

  .result-card {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .meddict-search {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }

  .meddict-search input {
    width: 100%;
    max-width: 200px;
  }

  .result-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .result-left,
  .result-right {
    width: 100%;
  }

  .result-image {
    border-radius: 0;
  }

  .result-card {
    max-width: 100%;
  }
}



