:root {
  --background-color: #FFFFFF;
  --border-color: #343A40FF;
  --hover-border-color: #1E2125FF;
  --button-background: #2E5288FF;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1200px;
  background: url("../Assets/background\ \(original\).png") no-repeat center;
  background-size: cover;
}

.background-img {
  background-image: url('../Assets/background\ \(original\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meddict-title {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meddict-search {
  position: relative;
  opacity: 1;
  margin-bottom: 35px;
  text-align: center;
  display: flex;
}

.meddict-search input {
  flex-grow: 1;
  width: 745px;
  height: 44px;
  padding-left: 47px;
  padding-right: 110px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  background: var(--background-color);
  border-radius: 22px;
  border: none;
  border-color: var(--border-color);
  outline: none;
  box-shadow: 0 5px 15px gray;
  transition: width 0.1s ease-in-out;
}

.meddict-search input:hover {
  background: var(--background-color);
  border-color: var(--hover-border-color);
}

.meddict-search input:focus {
  background: var(--background-color);
  border-color: var(--border-color);
}

.meddict-search ::placeholder {
  color: #BCC1CAFF;
}

.meddict-search input:disabled {
  color: #BCC1CAFF;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  height: 27px;
  width: 29px;
}

.mic-icon,
.cam-icon {
  position: absolute;
  top: 8px;
  height: 34px;
  cursor: pointer;
}

.mic-icon {
  right: 72px;
  width: 34px;
}

.cam-icon {
  right: 20px;
  width: 40px;
}

.meddict-button {
  position: relative;
  width: 112px;
  height: 49px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  background: var(--button-background);
  opacity: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
}

.meddict-button:hover {
  filter: brightness(120%);
}

.meddict-button:disabled {
  opacity: 0.4;
}

/* MeddictSearchBar.css */

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-style: none;
  border-radius: 0 0 22px 22px;
  box-shadow: 0 3px 3px gray;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
  font-size: 19px;
  overflow-y: auto;
  max-height: 350px;
}

.suggestion {
  cursor: pointer;
  text-align: left;
  padding: 10px 10px 10px 47px;
  transition: background-color 0.3s;
  overflow-y: auto;
}


.suggestions::-webkit-scrollbar-thumb {
  background-color: auto; /* Set your desired scrollbar thumb color */
  border-radius: 6px; /* Set your desired scrollbar thumb border radius */
  top: 100%;
  left: 0;
  right: 0;
  border-style: none;
  border-radius: 0 0 22px 22px;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
}

.suggestions::-webkit-scrollbar-track {
  background-color: white; /* Set your desired scrollbar track color */
  border-radius: '6px'; /* Set your desired scrollbar track border radius */
  top: 100%;
  left: 0;
  right: 0;
  border-style: none;
  border-radius: 0 0 22px 22px;
  display: none;
  z-index: 1;
  padding-bottom: 20px;
}

.suggestion:hover {
  background-color: #d3d3d3;
}

.suggestion.selected {
  background-color: #d3d3d3;
}

.result-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  background: #1C468EFF;
  border-radius: 20px;
  box-shadow: 0 8px 17px #171a1f, 0 0 2px #171a1f;
  border: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.result-container.show {
  opacity: 1;
}

.result-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.result-upper,
.result-lower {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
}

.sound-column {
  margin-right: 20px;
}

.result-card {
  flex: 1;
  max-width: 70%;
  border: none;
  color: white;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 60px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.result-card.show {
  opacity: 1;
  transform: translateY(0);
}


.result-right {
  flex: 1;
  overflow: hidden;
}

.result-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0 20px 20px 0;
}

.no-image-text{
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 60px;
}

.line {
  width: 70%;
  height: 1px;
  background-color: #D29211FF;
  margin: 10px auto;
}

.sound-button {
  margin-left: 80px;
  width: 50px;
  height: 50px;
  background-color: #D32727FF;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sound-icon {
  width: 80%;
  height: 60%;
  fill: #FFFFFF;
}

.sound-button:hover {
  background-color: #FF0000FF;
}

.sound-button:active {
  background-color: #990000FF;
}

@media (max-width: 1000px) {
  .meddict-search input {
    width: 600px;
    transition: width 0.1s ease-in-out;
  }
}

@media (max-width: 850px) {
  .meddict-search input {
    width: 400px;
    transition: width 0.1s ease-in-out;
  }
}

@media (max-width: 700px) {
  .meddict-search input {
    width: 200px;
    transition: width 0.1s ease-in-out;
  }
}

/* New styles for result container and cards */

