.navbar-section {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.navbar-title a {
    color: #2e5288;
    letter-spacing: .6px;
    text-decoration: none;
}
.navbar-title {
    font-family: 'Poppins', sans-serif;
}

.navbar-title img{
    position: absolute;
    top: 17px;
    left: 25px;
    width: 290px;
    height: 60px;
    border-radius: 0px;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400, bold;
    font-size: 20px;
    opacity: 1;
    position: relative;
}

.navbar-items > li {
    list-style-type: none;

}


.navbar-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: .8px;
}


#mainNav li a,
#mainNav li a:after,
#mainNav li a:before {
    transition: all .5s;
}
#mainNav li a:hover {
    color:#2e5288;
}

/* stroke */
#mainNav.navbar-items li a
{
    position: relative;
}
#mainNav.navbar-items li a:after,
#mainNav li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #2e5288;
    height: 1px;
}
#mainNav.navbar-items li a:hover:after {
    width: 100%;
}

#mainNav li a {
    transition: all 1s;
}

#mainNav li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
#mainNav li a:hover {
    color: #2e5288;
    z-index: 1;
}
#mainNav li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}


.language-dropdown {
    position: relative;
    background-color: #2e5288;
    border-radius: 4px;
    color: white;
    border: 20px;
}

.language-dropdown select {
    font: 1rem normal Inter, sans-serif;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
}

.language-dropdown select:active,
.language-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.language-dropdown select::-ms-expand {
    color: white;
}

.language-dropdown select option {
    color: black;
}

.language-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}




/* Hamburger Icon */
.mobile-nav {
    display: none;
}
.hamb-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}


.hamb-icon:hover {
    color: #2e5288;
}
/* Mobile Navbar */
.mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    z-index: 20;
    justify-content: center;
    align-items: center;
    transition: left .5s ease-in-out;
}

.mobile-navbar-close {
    position: absolute;
    top: 28px;
    right: 28px;
}
.mobile-navbar-close .hamb-icon:hover {
    color: rgb(255, 22, 22);
}
.open-nav {
    left: 0;
}
.mobile-navbar-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 24px;
    text-align: center;
}
.mobile-navbar-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: .8px;
    transition: color .3s ease-in-out;
}

#mainNav_mobile li a:after,
#mainNav_mobile li a:before {
    transition: all .5s;
}
#mainNav_mobile li a:hover {
    color:#2e5288;
}

/* stroke */
#mainNav_mobile.mobile-navbar-links li a
{
    position: relative;
}
#mainNav_mobile.mobile-navbar-links li a:after,
#mainNav_mobile li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #2e5288;
    height: 1px;
}
#mainNav_mobile.mobile-navbar-links li a:hover:after {
    width: 100%;
}

#mainNav_mobile li a {
    transition: all 1s;
}

#mainNav_mobile li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
#mainNav_mobile li a:hover {
    color: #2e5288;
    z-index: 1;
}
#mainNav_mobile li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}

/* Responsive */
@media screen and (max-width: 1435px) {
    .main-container,.select-container, .navbar-items {
        display: none;
    }
    .mobile-nav {
        display: block;
    }



}
